{% extends "base.html" %}

{% block content %}

{% if orders %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
            <tr>
              <td>{{ order.user.username }}</td>
              <td>{{ order.status }}</td>
                <td></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a class="btn btn-primary" href="?page={{ orders.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a class="btn btn-primary" href="?page={{ orders.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No order are available.</p>
{% endif %}

{% endblock %}
