{% extends "base.html" %}

{% block content %}
<div class="row center-block">
    <div class="col-md-6">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field.help_text|safe }}
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}
